.section-title {
    margin-bottom: .25rem;
    color: $color-section-title;
    font-size: $font-size-sub-text;
    line-height: 1;
    text-align: left;
}

/*info*/
@import '../../components/info/info.scss';

/*resume*/
@import '../../components/resume/resume.scss';

/*comments*/
@import '../../components/comments/comments.scss';

/* call */
@import '../../components/timeItem/timeItem.scss';
@import '../../components/call/call.scss';

