@import 'reset.scss';
// 字体，颜色变量
@import 'variables.scss';

// 全局共有
@import '../commons/common.scss';

/*

    pages : Profile

*/
/* page: Profile 公用*/
.section-title {
    margin-bottom: .25rem;
    color: $color-section-title;
    font-size: $font-size-sub-text;
    line-height: 1;

    span {
        .iconfont i{
            font-size: 12px;
        }
    }
}

/*info*/
@import '../components/info/info.scss';

/*resume*/
@import '../components/resume/resume.scss';

/*comments*/
@import '../components/comments/comments.scss';

/* call */
@import '../components/call/call.scss';
/*

    pages : ArticleList

*/

/*slide*/
@import '../components/slide/slide.scss';

/*articleList*/
@import '../components/articleList/articleList.scss';
/*

    Article

*/
@import '../components/articleBody/articleBody.scss';

/*

    pages : Allcomments

*/

@import '../pages/allComments/allComments.scss';
@import '../components/commentItem/commentItem.scss';
@import '../components/commentUl/commentUl.scss';

