@import 'reset.scss';
@import '../components/common/common.scss';

/*

    pages : Profile

*/
$section-title-color: rgba( 76, 77, 80, .5);

/* page: Profile 公用*/
.section-title {
    height: 25px;
    color: #{$section-title-color};
    font-size: 13px;
    line-height: 25px;

    span {
        .iconfont {
            font-size: 12px;
        }
    }
}

/*info*/
@import '../components/info/info.scss';

/*resume*/
@import '../components/resume/resume.scss';

/*comments*/
@import '../components/comments/comments.scss';

/* call */
@import '../components/call/call.scss';
/*

    pages : ArticleList

*/

/*slide*/
@import '../components/slide/slide.scss';

/*articleList*/
@import '../components/articleList/articleList.scss';

/*

    Article

*/
@import '../components/articleBody/articleBody.scss';
