/* font family */
$font-family-regular: Yuanti-SC-Regular,Tahoma,Verdana,Arial,sans-serif;
$font-family-bold: Yuanti-SC-Bold,Tahoma,Verdana,Arial,sans-serif;

/* 字号 */
/* 超大标题 */
$font-size-big-title: 28px;
/* 标题 */
$font-size-title: 20px;
/* 子标题 */
$font-size-sub-title: 17px;
/* 正文 */
$font-size-text: 17px;
$line-height-text: 29px;
/* 正文2 */
$font-size-small-text: 15px;
$line-height-small-text: 24px;
/* 辅助 */
$font-size-sub-text: 13px;
/* 辅助 2 */
$font-size-sub-small-text: 11px;

/* 颜色 */
/* 背景色 */
$color-bg: #fff;
/* 一般文本颜色 */
$color-text: #4C4D50;
/* 副级文本颜色 */
$color-sub: rgba(76, 77, 80, .5);
/* 副级标题文本颜色 */
$color-sub-title: rgba(76, 77, 80, .3);
/* 部分 按键 颜色/背景色 */
$color-btn: #6BE4CD;
/* 部分section 标题文本颜色 */
$color-section-title: rgba( 76, 77, 80, .5);
/* 部分 line 颜色 */
$color-line: rgba( 76, 77, 80, .2);
