.resume {

    .rightBlock-title {
        font-size: $font-size-text;
        line-height: $line-height-text;
    }

    .ps-word {
        color: $color-sub;
        font-size: $font-size-small-text;
        line-height: $line-height-small-text;
    }

    ul {
        margin-top: .2rem;

        &:last-child > li:last-child {
            margin-bottom: 0;
        }
    }

    li {
        margin: .2rem 0;
    }

    ul.border-bottom {
        border-bottom: 1px solid $color-line;
    }
}
