.resume {
    line-height: 20px;

    .rightBlock-title {
        line-height: 29px;
    }
    .ps-word {
        color: #ccc;
        font-size: 13px;
    }
    & > div {
        margin: .25rem 0;
    }

    hr {
        margin: .25rem 0;
    }
}
