.comments {
    text-align: center;
}

.c-btn {
    font-size: $font-size-small-text;

    display: inline-block;
    padding: .1rem .85rem;

    text-align: center;

    color: $color-btn;
    border: 1px solid $color-btn;
    background-color: $color-bg;
}



