@import './reset.scss';

// html {
//     font-size: 100px;
// }

body {
    background-color: #eee;
    color: #333;
}

#app {
    position: relative;
    // padding: 10px;
}

a {
    color: #333;
}
.wrap-block {
    box-sizing: border-box;
    // width: 100%;
    padding: .5rem .4rem;
    margin: .2rem;
    background-color: #fff;
    border-radius: 4px;

    &>div {
        @extend .clearfix;
    }
}

.flex-box {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;  /* 兼容 andior 微信 */

    .flex-item {
        -webkit-flex:1;
           -moz-box-flex:1;
            -ms-flex:1;
                flex:1;
        -webkit-box-flex: 1; /* 兼容 andior 微信 */
    }
}

.rightBlock-title {
    @extend .clearfix;

    span {
        float: right;
        color: #ccc;
        font-size: 12px;
    }
}
