@font-face {
  font-family: "Yuanti-SC-Regular";
  src: url('../fonts/Yuanti-SC-Regular.ttf') format( 'ttf' );
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Yuanti-SC-Bold";
  src: url('../fonts/Yuanti-SC-Bold.ttf') format( 'ttf' );
  font-weight: normal;
  font-style: normal;
}

body {
    font: 15px/30px Yuanti-SC-Regular,Tahoma,Verdana,Arial,sans-serif;
    background-color: #eee;
    color: #333;
}

#app {
    position: relative;
}

a {
    color: #333;
}
.wrap-block {
    box-sizing: border-box;
    // width: 100%;
    padding: .5rem .2rem;
    margin: .2rem;
    background-color: #fff;
    border-radius: 4px;

    &>div {
        @extend .clearfix;
    }
}

.flex-box {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;  /* 兼容 andior 微信 */

    .flex-item {
        -webkit-flex:1;
           -moz-box-flex:1;
            -ms-flex:1;
                flex:1;
        -webkit-box-flex: 1; /* 兼容 andior 微信 */
    }
}

.rightBlock-title {
    @extend .clearfix;

    span {
        float: right;
        color: #ccc;
        font-size: 12px;
    }
}
