$commaSizeW: 20px;
$commaSizeH: 17px;

.comment-item {
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    display: -webkit-box;  /* 兼容 andior 微信 */

    width: 100%;
    margin-bottom: .2rem;
}
.c-comment__comma {
    width: $commaSizeW;
    // height: $commaSizeH;
    /*普通显示屏(设备像素比例小于等于1)使用1倍的图*/

    background: url(../imgs/comma.png) no-repeat top left ;
    background-position-y: 8px;
    background-size: $commaSizeW $commaSizeH;
    /*高清显示屏(设备像素比例大于等于2)使用2倍图 */
    @mediaonlyscreenand(-webkit-min-device-pixel-ratio:2) {
        .css {
            background: url(../imgs/comma@2x.png) no-repeat top left ;
            background-position-y: 8px;
            background-size: $commaSizeW $commaSizeH;
        }
    }
    /*高清显示屏(设备像素比例大于等于3)使用3倍图 */
    @mediaonlyscreenand(-webkit-min-device-pixel-ratio:3) {
        .css {
            background: url(../imgs/comma@3x.png) no-repeat top left ;
            background-position-y: 8px;
            background-size: $commaSizeW $commaSizeH;
        }
    }
}
.c-comment__body {
    position: relative;

    margin-left: .21rem;

    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-flex: 1; /* 兼容 andior 微信 */
}

.c-comment__content {
    overflow: hidden;
}

.c-comment__foldBtn {
    font-size: 13px;

    position: absolute;
    right: .5em;
    bottom: 30px;

    width: 3em;
    background-color: $color-bg;

    text-align: right;

    color: $color-btn;
}

.c-comment__author {
    font-size: $font-size-small-text;
    color: $color-sub;
}

.c-comment__time {
    margin-left: .16rem;
    color: $color-sub-title;
}

