.slideBox {
    position: relative;

    overflow: hidden;

    width: 7.1rem;
    height: 2.9rem;
    margin: 0 auto;
}

.slick-list {
    width: 100%;

    transform: translate3d(0, 0, 0);
}

.slider .slice-track {
    transform: translate3d(0, 0, 0);
}

.slick-slide {
    float: left;

    width: 7.1rem;
}

.slide__btn-group {
    line-height: 1;

    position: absolute;
    z-index: 1;
    bottom: 9px;

    width: 100%;

    text-align: center;
    li {
        display: inline-block;

        width: .07rem;
        min-width: 5px;
        height: .07rem;
        min-height: 5px;
        margin: 3px;

        vertical-align: middle;
        text-indent: -99999px;

        border-radius: 50%;
        background-color: #bec7c2;
        &.slick-active {
            background-color: #3b3c3f;
        }
    }
}

.slide__img {
    width: 7.1rem;
}
