
.slideBox {
    position: relative;

    overflow: hidden;

    width: 100%;
    // height: 150px;
    .hd {
        position: absolute;
        z-index: 1;
        bottom: 9px;

        width: 100%;
        ul {
            text-align: center;
            li {
                display: inline-block;

                width: 5px;
                height: 5px;
                margin: 3px;

                text-indent: -99999px;

                border-radius: 50%;
                background-color: #bec7c2;
                &.on {
                    background-color: #3b3c3f;
                }
            }
        }
    }
    .bd {
        position: relative;
        z-index: 0;

        height: 100%;
        li {
            img {
                width: 100%;
            }
        }
    }
}
