.article-item__img {
    width: 1.6rem;
    height: 1.6rem;
    margin-left: .1rem;
}

.article-item__body {
    font-size: $font-size-small-text;
    line-height : $line-height-small-text;
}

.article-item__title {
    margin-bottom: .02rem;
    font-family: $font-family-bold;
    font-size: $font-size-sub-title;
    color: $color-text;
    font-weight: bold;
    line-height: $line-height-text
}
