.c-tag {
    height: 18px;
    margin-bottom: .2rem;
    color: $color-sub;
    font-size: $font-size-sub-text;
    line-height: 18px;
}

.c-tag--bluebg {
    color: #fff;
    background-color: $color-btn;
}

.c-tag--bluefont {
    color: $color-btn;
}

.c-tag--circle {
    padding: 0 5px;
    border: 1px solid $color-sub;
    border-radius: 1rem;
}
.c-tag--rectangular {
    padding: .01rem .2rem;
}

.c-tag--circle,
.c-tag--rectangular {
    margin-right: .2rem;
    font-size: $font-size-sub-small-text;
}

.article__img {
    width: 1.6rem;
    height: 1.6rem;
    margin-left: .1rem;
}

.article__body {
    font-size: $font-size-small-text;
    line-height : $line-height-small-text;
}

.article__title {
    margin-bottom: .02rem;
    font-family: $font-family-bold;
    font-size: $font-size-sub-title;
    color: $color-text;
    font-weight: bold;
    line-height: $line-height-text
}

.article {
    font-size: 16px;
    margin: 5px 0;
}
