.article__time {
    margin: 5px 0 10px;
    color: $color-sub;
    font-size: $font-size-small-text;
}

.article__title {
    text-align: center;
    font-size: $font-size-title;
}

.article__title-img {
    width: 6.3rem;
}

.article__container {
    position: relative;
    box-sizing: border-box;
    width: 6.3rem;
    height: 1.4rem;
    padding: .3rem;
    margin: .3rem 0;
    line-height: 1;
    background-color: #ECFBF8;
}

.article__mentor{
    color: $color-sub-title;
    font-size: $font-size-sub-text;

    span {
        display: block;
    }

    .name {
        margin-top: .12rem;
        color: $color-text;
        font-size: $font-size-sub-title;
    }
}

.article__avatar {
    width: .8rem;
    height: .8rem;
    margin-right: .3rem;
}

.article__go-mentor {
    position: absolute;
    top: 50%;
    right: .3rem;
    margin-top: -$font-size-sub-small-text/2;
    font-size: $font-size-sub-small-text;
}

.article__content {
    font-size: $font-size-text;
    line-height: $line-height-text;

    img {
        display: block;
        max-width: 6.3rem;
        margin: 0 auto;
    }
}
